Answer user's question based on given context:

====Context====
{{context}}
===============

Questions: {{question}}

You must answer the question the following format:

====Answer Format====

# metadata
```json
{
    "is_information_enough_to_answer": true,
    "reason": "reason why you think you have enough information to answer the question"
}
```

# answer
**YOUR ANSWER HERE**
===============
