Name: {{ name }}
Description: {{ description }}
Skills: {% for skill in skills%}
    - name: {{skill.name}}
        - description: {{skill.description}}
        - example: {{skill.examples}}
{% endfor %}